.user-eddit-profile{
    position:fixed;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    background-color: #000000c9;
    display: flex;
    justify-content: center;
    align-items: center;
    .user-eddit-content{
        border:1px solid $mainColor;
        width:50% !important;
        background-color: $WhiteColor;
        padding:10px 20px;
        border-radius: 5px;
        h3{
            text-align: start;
        }
        .back-btn{
            margin-right:20px !important;
            background-color: #22304033 !important;
            color:$DarkColor !important;
            border:1px solid #22304033 !important;
            &:hover{
                background-color: $mainColor !important;
                color:$DarkColor !important;
                border-color: $mainColor !important;
            }
        }
    }
};
@media screen and (max-width:767px){
    .user-eddit-profile{
        .user-eddit-content{
            width:75% !important;
        }
    };
}