.Coupon{
    padding:10px;
    border-radius: 5px;
    text-align: center;
    background-color: $WhiteColor;
    input{
        &:focus{
            border: 1px solid $mainColor;
            box-shadow: none;
        }
    }
    
    .btn{
        width:100% !important;
        padding:10px 20px !important;
        margin-top: 10px !important;
    }
    .btn-delete{
        width:100%;
        padding:10px 20px;
        border-radius: 5px;
        border:1px solid red;
        background-color: red;
        color:$WhiteColor !important;
        margin-top: 10px;
    }
    .price{
        span{
            position:relative;
            &:after{
                content: "";
                background-color: red;
                width: 121%;
                height: 2px;
                position: absolute;
                top: 43%;
                right: -5px;
                display: block;
                transform: skew(209deg, 348deg);
            }
        }
        
        margin:15px 0px;
        font-weight: bold;
    }
}