.Coupon{
    padding:10px;
    border-radius: 5px;
    text-align: center;
    background-color: $MainColor;
    input{
        &:focus{
            border: 1px solid $ThirdColor;
            box-shadow: none;
        }
    }
    
    .btn{
        width:100%;
        padding:10px 20px;
        border:1px solid $ThirdColor;
        background-color: $MainColor;
        color:$ThirdColor;
        margin-top: 10px;
        transition: all .4s;
        &:hover{
            color:$MainColor;
            background-color: $ThirdColor;
        }
    }
    .btn-delete{
        width:100%;
        padding:10px 20px;
        border-radius: 5px;
        border:1px solid red;
        background-color: red;
        color:$MainColor !important;
        margin-top: 10px;
    }
    .price{
        span{
            
            position:relative;
            &:after{
                content: "";
                position: absolute;
                width: 122%;
                height: 3px;
                background-color:red;
                top: 10px;
                right: -6px;
            }
        }
        
        margin:15px 0px;
        font-weight: bold;
    }
}