.modal-container{
    position:fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color:#000000c9;
    z-index:999999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    .modal-box{
        background-color: #fff;
        width:25%;
        padding:15px 10px;
        border:1px solid $ThirdColor;
        border-radius: 5px;
        p{
            margin: 17px 6px;
        }
        .btns{
            text-align: end;
            .btn{
                width:40%;
                padding:10px 15px !important;
                color:$MainColor;
            }
            .back-btn{
                background-color: $ThirdColor;
                border:none;
            }
            .delete-btn{
                background-color:red;
                border:none;
            }
        }
    }
}