.modal-container{
    position:fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color:#000000c9;
    z-index:999999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    .modal-box{
        background-color: $WhiteColor;
        width:400px;
        padding:35px 10px;
        border:1px solid $DarkColor;
        border-radius: 5px;
        p{
            margin: 17px 6px;
        }
        .btns{
            text-align: end;
            .btn{
                padding:10px 15px !important;
                color:$WhiteColor;
            }
            .delete-btn{
                border:1px solid red !important;
                color:$WhiteColor !important;
                background-color: red !important;
                width:fit-content !important;
                margin: 0px 10px !important;
                border-radius: 5px;
                padding:7px 15px;
            }
        }
    }
};
// Media-Query
@media screen and (max-width:575px){
    .modal-container{
        .modal-box{
            width:300px;
        }
    }
};