.rate-comments{
    background-color: $WhiteColor;
    border-radius: 5px;
    padding:10px;
    .rate-container{
        margin-bottom:15px;
        h2{
            font-size: 1.7rem;
        }
    }
    .comments{
        margin-left:15px;
        .add-comment{
            text-align: right;
            .user{
                display: flex;
                margin-bottom: 10px;
                h3{
                   margin-top: 6px;
                   margin-right: 10px;
                   font-size: 1.1rem;
                }
            }
            textarea{
                &:focus{
                    border:1px solid $mainColor;
                    box-shadow: none;
                }  
            }
            button{
                margin:15px 0px;
                background-color: $DarkColor;
                color:$WhiteColor;
                border-color: $DarkColor ;
                transition: all .4s;
                &:hover,&:focus{
                    background-color: $mainColor !important;
                    color:$DarkColor;
                    border-color: $mainColor ;
                }
             }
        }
    }
}