.admin-product-card{
    box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
    border:1px solid $ThirdColor !important;
    height:440px !important;
    overflow: hidden;
    img{
        height:270px;
        padding:20px 10px
    }
    .card-body{
        padding-bottom:0px;
        .fav-icon{
            text-align: left;
            color:#c1c1c1;
        }
        .card-footer{
            padding: 0;
            margin: 0;
            padding-top:10px;
            background-color: transparent;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top:1px solid $ThirdColor;
            .rate{
                display: flex;
                margin-top: 10px;
                color: #ffca28;
                svg{
                    font-size: 20px;   
                }
                p{
                    font-size: 17px;
                    margin-right: 5px;
                    font-weight: 600;
                }
            }
            .price{
                p{
                    margin:0px !important;
                    font-size: 18px;
                    font-weight: bold;
                }
                .price-before-discount{
                    position: relative;
                    span{
                        background-color: red;
                        width: 120%;
                        height: 2px;
                        position: absolute;
                        top: 50%;
                        right: -7px;
                        display: block;
                        transform: skew(210deg, 351deg);
                    }
                }
                
            }
        }
    } 
};
@media screen and (max-width:500px){
    .card-footer{
        h5{
            font-size: .9rem !important;
        }
    }
}