.login{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .login-content{
        width:60%;
        text-align: center;
        .form{
            input{
                &:focus{
                    box-shadow: none;
                    border:1px solid $mainColor;
                }
            }
            button{
                background-color: $DarkColor;
                color:$WhiteColor;
                border-color: $DarkColor ;
                transition: all .4s;
                width:135px !important;
                &:hover{
                    background-color: $mainColor !important;
                    color:$DarkColor;
                    border-color: $mainColor ;
                }
            }
        }
        .login-footer{
            display: flex;
            justify-content: center;
            a{
                text-decoration: none !important;
                margin-left: 5px;
                span{
                    color:$DarkColor;
                    font-weight: $FW-3;
                    transition: color .3s;
                    &:hover{
                        color: $mainColor;
                    }
                }
            }
            
        }
    }
};
@media screen and (max-width:767px){
    .login{
        .login-content{
            width:95%;
            padding: 0;
            .form{
                button{
                    width:135px !important;
                }
            }
        }
    };
}
@media screen and (max-width:460px){
    .login{
        .login-content{
            width:100%;
            padding: 0;
            .form{
                button{
                    width:110px !important;
                }
            }
        }
    };
}
