 .user-orders-comp{
    background-color: $WhiteColor;
    padding:15px 10px;
    border:1px solid $mainColor;
    border-radius: 5px;
    margin-bottom:15px;
    .user-order-head{
        h4{
            font-size: 18px;
            font-weight: 400;
        }
    }
    .user-order-footer{
        .status{
            h4{
                font-size: 18px;
                font-weight: 400;
                span{
                    color:gray
                }
            }
        }
        .price{
            display: flex;
            flex-wrap: wrap;
            h4{
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
 }