.add-category{
    .inputs{ 
        h4{
            font-size: 1rem;
        }
        .img{
            width:150px;
            height:150px;
            img{
                width: 140px !important;
                height: 125px !important;
                border-radius: 5px;
                cursor: pointer;
            }
            input{
                position:absolute;
                width:20px;
                height:20px;
                z-index: -1;
                opacity:0;
            }
        }
        .name{
            margin-top:30px;
        }
    }
    
};