.ProductsSearchSubTitle{
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .dropdown{
            .dropdown-toggle{
                width:160px;
                background-color: $DarkColor;
                color:$WhiteColor;
                border-color: $DarkColor ;
                transition: all .4s;
                &:hover,&:focus{
                    background-color: $mainColor !important;
                    color:$DarkColor;
                    border-color: $mainColor ;
                }
                .sort{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    svg{
                        font-size: 35px;
                    }
                    p{
                        margin: 0 !important;
                        margin-top: 12px;
                    }
                }
                &:after{
                    display: none !important;
                }
            }
            .dropdown-menu{
                overflow: hidden;
                width:160px;
                margin:0;
                padding:0;
                .dropdown-item{
                    padding: 0px !important;
                    transition: all .4s;
                    background-color: $DarkColor;
                    color:$WhiteColor;
                    border-color: $DarkColor ;
                    &:hover{
                        background-color: $mainColor !important;
                        color:$DarkColor;
                    }
                    p{
                        margin: 0 !important;
                        padding:10px
                    }
                    hr{
                        margin:0;
                        color: $mainColor;
                    }
                }
            }
        }
    }
    .row{
        
    }  
};
@media screen and (max-width:575px){
    .ProductsSearchSubTitle{
        .row{
            text-align: center !important;
            .dropdown{
                text-align: center !important;
                margin-top: 10px;
            }
        } 
}
}