 .user-profile-details{
    background-color: $MainColor;
    padding:10px 10px;
    border:1px solid $ThirdColor;
    border-radius: 5px;
    margin-bottom:15px;
    .name{
        display: flex;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            margin-right:5px;
        }
    }
    .phone{
        display: flex;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            margin-right:5px;
        }
    }
    .email{
        display: flex;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            margin-right:5px;
        }
    }
    button{
        border:1px solid $ThirdColor;
        color:$ThirdColor;
        background-color: $MainColor;
        margin-left: 10px;
        transition: all .4s;
        &:hover{
            background-color:$ThirdColor;
            color: $MainColor;
        }
    }
 }