.product-card{
    box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
    height:400px !important;
    overflow: hidden;
    border:none;
    position: relative;
    .image-container{
        img{
            height:270px;
            padding:20px 10px;
            transition:transform .3s ease-in-out;
            &:hover{
                transform: scale(1.1)
            }
        }
    }
    .card-body{
        padding-bottom:0px;
        h2{
            font-size:1.2rem;
            text-align: start
        }
        .price{
            display: flex;
            p{
                margin:0px !important;
                font-size: 18px;
                font-weight: bold;
            }
            .price-before-discount{
                position: relative;
                color: gray;
                margin-left:10px !important;
                font-size: 15px;
                margin-top:2px !important;
                span{
                    background-color: red;
                    width: 120%;
                    height: 2px;
                    position: absolute;
                    top: 37%;
                    right: -7px;
                    display: block;
                    transform: skew(210deg, 351deg);
                }
            }
                
        }
    }
    .layer{
        position: absolute;
        background-color: $mainColor;
        top:0;
        bottom:0;
        left:110%;
        right:0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        font-size: 1.2rem;
        transition: left .4s ease-in-out;
        border-radius: 5px 0px 0px 5px;
        z-index: 99;
        svg{
            margin: 20px 20px;
            color:$DarkColor;
            cursor: pointer;
        }
    }
    &:hover{
        .layer{
            left:80%;
        }
    }
};