.product-card{
    box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
    border:1px solid $ThirdColor !important;
    .card-body{
        padding-bottom:0px;
        .product-icon{
            text-align: left;
            color:#c1c1c1
        }
    }
    .card-footer{
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top:1px solid $ThirdColor;
        h5{
            font-size:1.1rem;
            margin:0;
        }
    }
};
@media screen and (max-width:500px){
    .card-footer{
        h5{
            font-size: .9rem !important;
        }
    }
}