.copoun-card{
    background-color: $WhiteColor;
    padding:10px;
    padding-bottom:0px;
    margin:20px 0px;
    border-radius: 4px;
    .card-body{
        display: flex;
        justify-content: space-between;
        padding-top:10px;
        h4{
            font-size: 1rem;
        }
    }
}