.forgot-password{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .forgot-password-content{
        width:60%;
        text-align: center;
        .form{
            input{
                &:focus{
                    box-shadow: none;
                    border:1px solid $mainColor
                }
            }
            button{
                background-color: $DarkColor;
                color:$WhiteColor;
                border-color: $DarkColor ;
                transition: all .4s;
                width:fit-content;
                &:hover{
                    background-color: $mainColor !important;
                    color:$DarkColor;
                    border-color: $mainColor ;
                }
            }
            .forgot-password-footer{
                span{
                    color:$DarkColor;
                    font-weight: $FW-3;
                    transition: color .3s;
                    &:hover{
                        color: $mainColor;
                    }
                }
            }
        }
    }
};
@media screen and (max-width:767px){
    .forgot-password{
        .forgot-password-content{
            width:95%;
            padding: 0;
        }
    };
}
@media screen and (max-width:460px){
    .forgot-password{
        .forgot-password-content{
            width:100%;
        }
    };
}