.user-sidebar{
    background-color: $DarkColor;
    border-radius: 5px;
    ul{
        list-style: none;
        padding: 0;
        li{
            border-bottom:1px solid $mainColor;
            border-radius: 5px;
            padding:15px 7px;
            width:100% !important;
            color:$WhiteColor;
            transition: all .4s;
            cursor: pointer;
            &:hover,&:focus{
                color:$DarkColor;
                background-color: $mainColor;
            }
        
        }
    }
}