.payment{
    .payment-methods{
        background-color: $MainColor;
        padding:20px;
        border-radius: 5px;
        margin-top:20px;
        div{
            display: flex;
            margin-bottom: 10px;
            p{
                margin:0;
                margin-right: 5px;
            }
        }
        ul{
            list-style: none;
            padding:0 !important;
            margin-top:25px;
            width:15%;
            text-align: center;
            overflow: hidden;
            &:hover li{
                transform: translatey(0);
            }
            P{
                border:1px solid $ThirdColor;
                padding:5px;
                border-radius: 5px;
                margin: 0;
                cursor: pointer;
                
            }
            li{
                transform: translatey(300%);
                transition:transform .5s ease-in-out;
                border:1px solid $ThirdColor;
                padding:5px 0px;
                text-align: center;
                margin: auto;
                border-radius: 0px 0px 5px 5px;
                cursor: pointer;
                &:hover{
                    background-color: $ThirdColor;
                    color:$MainColor
                } 
            }
            
        }
    }
    .payment-method-footer{
        display: flex;
        justify-content: end;
        align-items: center;
        button{
            margin-right: 10px;
            border:1px solid $ThirdColor;
            background-color: $MainColor;
            color:$ThirdColor;
            transition:all .4s;
            &:hover{
                color:$MainColor;
                background-color: $ThirdColor;
            }
        }
    }
}
