.payment {
  .payment-methods {
    background-color: $WhiteColor;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    div {
      margin-bottom: 10px;
      label {
        margin-left: 5px;
      }
      .dropdown {
        .dropdown-toggle {
          padding: 4px 10px !important;
          .sort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg {
              font-size: 25px;
              margin-left: 10px;
            }
            p {
              margin: 0 !important;
            }
          }
          &:after {
            display: none !important;
          }
        }
        .dropdown-menu {
          overflow: hidden;
          width: 160px;
          margin: 0;
          padding: 0;
          top: -8px;
          .dropdown-item {
            padding: 0px !important;
            transition: all 0.4s;
            background-color: $DarkColor;
            color: $WhiteColor;
            border-color: $DarkColor;
            &:hover {
              background-color: $mainColor !important;
              color: $DarkColor;
            }
            p {
              margin: 0 !important;
              padding: 10px;
            }
            hr {
              margin: 0;
              color: $mainColor;
            }
          }
        }
      }
    }
  }
  .payment-method-footer {
    display: flex;
    button {
      margin-right: 0px !important;
    }
  }
}
