 .user-order-body{
    padding:10px 0px;
    margin-bottom:10px;
    margin-left:25px;
   .row{
    margin-bottom:15px;
    .img-container{
        img{
            width:80%;
            border-radius: 5px;
        }
    }
    .content{
        // margin-left: 10px;
        div{
            margin-bottom:20px;
            h5{
                font-size: 1.1rem;
                margin:0px;
            }
            p{
                margin: 0;
            }
            .color{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-top: 10px;
            }
            .rate-container{
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                .rate-qty{
                    margin-left:6px !important;
                }
            }
        }
    }
   }
 };
 @media screen and (max-width:418px){
    .user-order-body{
       .row{
        .content{
            div{
                .rate{
                    p{
                        font-size:15px;
                        display: block !important;
                    }
                    svg{
                        font-size:17px
                    }
                }
                .rate-container{
                    justify-content: center;
                    .rate-qty{
                        margin-left:6px !important;
                    }
                }
            }
        }
       }
     };
 }