.user-address{
    background-color: $WhiteColor;
    padding:10px 10px;
    border:1px solid $mainColor;
    border-radius: 5px;
    margin-bottom:15px;
    .address-head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 18px;
            font-weight: 500;
        }
    }
    .address{
        display: flex;
        margin-top: 10px;
        margin-left:5px;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            margin-left:5px;
        }
    }
    .phone{
        display: flex;
        margin-top: 10px;
        margin-left:5px;
        h5{
            font-size: 16px;
            font-weight: 400;
        }
        p{
            margin-left:5px;
        }
    }
}