.navbar{
    background-color: $DarkColor !important;
    padding:15px 0px;
    .navbar-brand{
        display: flex;
        align-items: center;
        svg{
            background-color: $mainColor;
            border-radius:50%;
            padding:10px;
            font-size: 3rem;
            margin-right: 0.5rem;
        }
        h1{
            color:#fff;
            font-size: 2rem;
            font-weight: $FW_3;
        }
    }
    .navbar-toggler {
        background-color: $MainColor;
        border:2px solid $ThirdColor;
        .navbar-icon{
            color:$ThirdColor
        }
    }
    .navbar-collapse{
        .search{
            width:55% !important;
            border:1px solid transparent;
        &:focus{
            box-shadow: none;
            border:1px solid $mainColor;
        }
    }
        .navbar-nav{
            .dropdown{
                font-size: 18px;
                .nav-link::after{
                    margin: 0;
                    margin-right:6px !important;
                };
                .dropdown-menu{
                    padding:0px !important;
                    background-color: $DarkColor !important;
                    overflow: hidden;
                    a{
                        padding:15px !important;
                        transition:color .4s;
                        &:hover{
                            color:$mainColor !important;
                        }
                    }
                    .dropdown-divider{
                        background-color: $mainColor !important;
                        margin:0px !important
                    }
                }
            }
            a{
                color:$WhiteColor;
                text-decoration: none !important; 
                display: flex;
                justify-content: center;
                align-items: center;
                .cart-logo{
                    position: relative;
                    margin:0px 10px;
                    svg{
                        font-size: 30px;
                    };
                    .count{
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(50%,-50%);
                        font-size: 15px;
                        width: 22px;
                        height: 22px;
                        z-index: 3;
                        color: #000;
                        background-color: $mainColor;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        font-weight: $FW_3;
                    }
                }
                
            }
        }
        .login-icon{
            display: flex;
            svg{
                font-size: 35px;
            }
            div{
                margin-top: 2px;
                font-size: 20px;
                margin-left: 4px;
            }
        }
    }
}