$MainBgColor:#030303;
$PageBgColor:#dddddd5e;
$MainColor:#fff;
$ThirdColor:#0072bc;
$btnColor:#499cd2;
$pageColor:#dddddd5e;

$FW_1:300;
$FW_2:400;
$FW_3:500;
$mainColor:#ffda05;
$WhiteColor:#fff;
$DarkColor:#223040;
$RatingColor:#ffc908