@import "./Colors";
@import "../components/Utilities/NavBarLogin/NavBarLogin";
@import "../components/Home/Slider/Slider";
@import "../components/Utilities/SubTitle/SubTitle";
@import "../components/Category/CategoryCard/CategoryCard"; 
@import "../components/Products/ProductCard/ProductCard";
@import "../components/Brands/BrandsCard/BrandsCard";
@import "../components/Home/DescountComponent/DescountComp";
@import "../components/Utilities/Footer/Footer";
@import "../components/Utilities/Pagination/pagination";
@import "../components/Utilities/Pagination/pagination";
@import "../components/Products/SlideProductsSearch/SlideProductsSearch";
@import "../components/Utilities/ProductsSearchNavBar/ProductsSearchNavbar";
@import "../components/Products/ProductsSearchSubTitle/ProductsSearchSubTitle";
@import "../components/Products/ItemDetail/ItemDetail";
@import "../components/Products/Rate&Comments/RateAndComments";
@import "../components/Cart/CartItem/CartItem";
@import "../components/Cart/Coupon/Coupon";
@import "../components/Utilities/PriceComp/PriceComp";
@import "../components/PaymentMethod/PaymentMethod";
@import "../components/AdminComp/SideBarComp/SideBar";
@import "../components/AdminComp/AdminProductCard/AdminProductCard";
@import "../components/AdminComp/AddBrand/AddBrand";
@import "../components/AdminComp/AddCategory/AddCategory";
@import "../components/AdminComp/AddSubCategory/AddSubCategory";
@import "../components/Coupon/AddCoupon/AddCoupon";
@import "../components/AdminComp/AddProduct/AddProduct";
@import "../components/UserComp/SideBarComp/UserSideBar";
@import "../components/UserComp/UserAllOrders/UserAllOrders";
@import "../components/UserComp/UserAddress/UserAddress";
@import "../components/UserComp/UserProfileDetails/UserProfileDetails";
@import "../components/UserComp/UserSingleOrder/UserSingleOrder";
@import "../components//AdminComp/OrderCard/OrderCard";
@import "../components/Utilities/Spinner/Spinner";
@import "../components/Utilities/DeleteModal/DeleteModal";
@import "../components/AdminComp/EdditProduct/EdditProduct";
@import "../pages/Auth/Login/Login";
@import "../pages/Auth/Register/Register";
@import "../pages/Auth/ForgotPassword/forgot-password";
@import "../pages/Auth/VerifyCode/verify";
@import "../pages/NotFoundPage/NotFoundPage";
@import "../components/Coupon/CouponCard/CouponCard";
@import "../components/Utilities/DeleteBtn/DeleteBtn";
@import "../components/Coupon/UpdateCouponModal/UpdateCouponeModal";

body{
    direction: rtl;
    position:relative !important;
}
.pageStyle{
    background-color:$pageColor !important;
    min-height: 670px !important;
    padding-bottom: 70px  !important;
}
.btn-style{
    border:1px solid $ThirdColor !important;
    color:$ThirdColor !important;
    background-color: $MainColor !important;
    transition: all .4s !important;
    width:fit-content !important;
    margin: auto !important;
    &:hover{
        background-color:$ThirdColor !important;
        color: $MainColor !important;
    }
}
.input-style{
    &:focus{
        border: 1px solid $ThirdColor !important;
        box-shadow: none !important;
    }
};
.rate{
    display: flex;
    margin-top: 10px;
    color: #ffca28;
    svg{
        font-size: 20px;   
    }
    p{
        font-size: 17px;
        margin-right: 5px;
        font-weight: 600;
    }
};