.navbar {
  background-color: #223040 !important;
  padding: 15px 0px;
}

.navbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-brand svg {
  background-color: #ffda05;
  border-radius: 50%;
  padding: 10px;
  font-size: 3rem;
  margin-right: 0.5rem;
}

.navbar .navbar-brand h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

.navbar .navbar-toggler {
  background-color: #fff;
  border: 2px solid #0072bc;
}

.navbar .navbar-toggler .navbar-icon {
  color: #0072bc;
}

.navbar .navbar-collapse .search {
  width: 55% !important;
  border: 1px solid transparent;
}

.navbar .navbar-collapse .search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ffda05;
}

.navbar .navbar-collapse .navbar-nav .dropdown {
  font-size: 18px;
}

.navbar .navbar-collapse .navbar-nav .dropdown .nav-link::after {
  margin: 0;
  margin-right: 6px !important;
}

.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  padding: 0px !important;
  background-color: #223040 !important;
  overflow: hidden;
}

.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu a {
  padding: 15px !important;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu a:hover {
  color: #ffda05 !important;
}

.navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-divider {
  background-color: #ffda05 !important;
  margin: 0px !important;
}

.navbar .navbar-collapse .navbar-nav a {
  color: #fff;
  text-decoration: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-collapse .navbar-nav a .cart-logo {
  position: relative;
  margin: 0px 10px;
}

.navbar .navbar-collapse .navbar-nav a .cart-logo svg {
  font-size: 30px;
}

.navbar .navbar-collapse .navbar-nav a .cart-logo .count {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 15px;
  width: 22px;
  height: 22px;
  z-index: 3;
  color: #000;
  background-color: #ffda05;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-weight: 500;
}

.navbar .navbar-collapse .login-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-collapse .login-icon svg {
  font-size: 35px;
}

.navbar .navbar-collapse .login-icon div {
  margin-top: 2px;
  font-size: 20px;
  margin-left: 4px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slider .slider-item {
  height: 80vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider .slider-item .slider-caption {
  position: absolute;
  top: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .slider-item .slider-caption .content {
  background-color: #ffda0573;
  padding: 50px 0px 50px 50px;
  border-radius: 15px;
  font-weight: 300;
  text-align: start;
}

.slider .slider-item .slider-caption .content h2 {
  font-size: 1.9rem;
}

.slider .slider-item .slider-caption .content h3 {
  font-size: 2.3rem;
}

.slider .carousel-control-prev {
  opacity: 1;
  width: 8%;
  left: -140px;
  -webkit-transition: left .6s;
  transition: left .6s;
}

.slider .carousel-control-prev-icon {
  background-color: #ffda05;
  padding: 20px;
  border-radius: 50%;
  background-size: 70% 70%;
}

.slider .carousel-control-next {
  opacity: 1;
  width: 8%;
  right: -140px;
  -webkit-transition: right .6s;
  transition: right .6s;
}

.slider .carousel-control-next-icon {
  background-color: #ffda05;
  padding: 20px;
  border-radius: 50%;
  background-size: 70% 70%;
}

.slider:hover .carousel-control-prev {
  left: 0px;
}

.slider:hover .carousel-control-next {
  right: 0px;
}

.slider .carousel-indicators button, .slider .carousel-indicators .register .register-content .form button, .register .register-content .form .slider .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background-color: #ffda05;
  opacity: .3;
}

.slider .carousel-indicators .active {
  background-color: #ffda05;
  border: 0;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .slider .slider-item .slider-caption .content {
    padding: 50px 0px 50px 30px;
  }
  .slider .slider-item .slider-caption .content h2 {
    font-size: 1.2rem;
  }
  .slider .slider-item .slider-caption .content h3 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 640px) {
  .slider .slider-item .slider-caption {
    left: 35%;
    width: 50%;
  }
  .slider .slider-item .slider-caption .content {
    padding: 20px;
  }
  .slider .slider-item .slider-caption .content h2 {
    font-size: 1rem;
  }
  .slider .slider-item .slider-caption .content h3 {
    font-size: 1.5rem;
  }
  .carousel-control-prev {
    width: 14% !important;
  }
  .carousel-control-next {
    width: 14% !important;
  }
}

@media screen and (max-width: 460px) {
  .slider .slider-item .slider-caption .content {
    padding: 50px 10px;
  }
  .slider .slider-item .slider-caption .content h2 {
    font-size: .8rem;
  }
  .slider .slider-item .slider-caption .content h3 {
    font-size: 1.3rem;
  }
}

.subtitle-comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subtitle-comp .subtitle-head {
  font-size: 20px;
}

.subtitle-comp a, .subtitle-comp .register .register-content .register-footer a, .register .register-content .register-footer .subtitle-comp a {
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.subtitle-comp a:hover, .subtitle-comp .register .register-content .register-footer a:hover, .register .register-content .register-footer .subtitle-comp a:hover {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.category-card {
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: rgba(65, 73, 79, 0.64) 0px 0px 21px;
          box-shadow: rgba(65, 73, 79, 0.64) 0px 0px 21px;
  overflow: hidden;
  position: relative;
}

.category-card .img-container {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.category-card .img-container img {
  width: 100%;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.category-card .card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #223040;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.category-card .card-content .left {
  position: absolute;
  top: 0;
  left: 130%;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 218, 5, 0.75);
  border-left: 0.5px solid #fff;
  -webkit-transition: left .4s .4s;
  transition: left .4s .4s;
}

.category-card .card-content .right {
  position: absolute;
  top: 0;
  left: 0;
  right: 130%;
  bottom: 0;
  background-color: rgba(255, 218, 5, 0.75);
  border-right: 0.5px solid #fff;
  -webkit-transition: right .4s .4s;
  transition: right .4s .4s;
}

.category-card .card-content h2 {
  position: absolute;
  top: -50%;
  font-size: 1rem;
  -webkit-transition: top .3s ease-in .6s;
  transition: top .3s ease-in .6s;
}

.category-card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.category-card:hover .left {
  left: 50%;
}

.category-card:hover .right {
  right: 50%;
}

.category-card:hover h2 {
  top: 40%;
}

.product-card {
  -webkit-box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
  height: 400px !important;
  overflow: hidden;
  border: none;
  position: relative;
}

.product-card .image-container img {
  height: 270px;
  padding: 20px 10px;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.product-card .image-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-card .card-body {
  padding-bottom: 0px;
}

.product-card .card-body h2 {
  font-size: 1.2rem;
  text-align: start;
}

.product-card .card-body .price, .product-card .card-body .user-order-body .row .content .disc .quantaty, .user-order-body .row .content .disc .product-card .card-body .quantaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-card .card-body .price p, .product-card .card-body .user-order-body .row .content .disc .quantaty p, .user-order-body .row .content .disc .product-card .card-body .quantaty p {
  margin: 0px !important;
  font-size: 18px;
  font-weight: bold;
}

.product-card .card-body .price .price-before-discount, .product-card .card-body .user-order-body .row .content .disc .quantaty .price-before-discount, .user-order-body .row .content .disc .product-card .card-body .quantaty .price-before-discount {
  position: relative;
  color: gray;
  margin-left: 10px !important;
  font-size: 15px;
  margin-top: 2px !important;
}

.product-card .card-body .price .price-before-discount span, .product-card .card-body .user-order-body .row .content .disc .quantaty .price-before-discount span, .user-order-body .row .content .disc .product-card .card-body .quantaty .price-before-discount span {
  background-color: red;
  width: 120%;
  height: 2px;
  position: absolute;
  top: 37%;
  right: -7px;
  display: block;
  -webkit-transform: skew(210deg, 351deg);
          transform: skew(210deg, 351deg);
}

.product-card .layer {
  position: absolute;
  background-color: #ffda05;
  top: 0;
  bottom: 0;
  left: 110%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  -webkit-transition: left .4s ease-in-out;
  transition: left .4s ease-in-out;
  border-radius: 5px 0px 0px 5px;
  z-index: 99;
}

.product-card .layer svg {
  margin: 20px 20px;
  color: #223040;
  cursor: pointer;
}

.product-card:hover .layer {
  left: 80%;
}

.discount {
  padding: 20px 0px 50px 0px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.discount .caption {
  padding-left: 50px;
}

.discount .caption h2 {
  width: 30%;
  background-color: #ffda05;
  font-size: 1rem;
  padding: 10px;
}

.discount .caption h3 {
  width: 30%;
  color: #fff;
}

footer {
  background-color: #223040;
  color: #fff;
}

footer .container {
  padding: 0px 20px;
}

footer .container ul {
  font-size: 12px;
  padding: 15px;
}

footer .container ul a, footer .container ul .register .register-content .register-footer a, .register .register-content .register-footer footer .container ul a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  footer .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .row ul {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    padding: 10px;
  }
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  right: 50%;
  padding: 20px 0px !important;
  margin: 0px !important;
}

.pagination .page-item .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination .page-item .prev-link, .pagination .page-item .next-link {
  background-color: #0072bc;
  color: #fff;
  border-radius: 5px !important;
  border: 1px solid #0072bc !important;
}

.pagination .active-link .page-link {
  background-color: #0072bc;
  color: #fff;
  border-radius: 5px !important;
  border: 1px solid #0072bc !important;
}

@media screen and (max-width: 350px) {
  .pagination .page-item .page-link {
    font-size: 13px !important;
  }
}

.pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  right: 50%;
  padding: 20px 0px !important;
  margin: 0px !important;
}

.pagination .page-item .page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pagination .page-item .prev-link, .pagination .page-item .next-link {
  background-color: #0072bc;
  color: #fff;
  border-radius: 5px !important;
  border: 1px solid #0072bc !important;
}

.pagination .active-link .page-link {
  background-color: #0072bc;
  color: #fff;
  border-radius: 5px !important;
  border: 1px solid #0072bc !important;
}

@media screen and (max-width: 350px) {
  .pagination .page-item .page-link {
    font-size: 13px !important;
  }
}

.SlideSearch .category h3 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.SlideSearch .category ul li {
  margin: 5px 0px;
}

.SlideSearch .category ul li input {
  margin-right: 5px;
}

.SlideSearch .category ul a, .SlideSearch .category ul .register .register-content .register-footer a, .register .register-content .register-footer .SlideSearch .category ul a {
  text-decoration: none;
}

.SlideSearch .category ul a li, .SlideSearch .category ul .register .register-content .register-footer a li, .register .register-content .register-footer .SlideSearch .category ul a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 5px;
}

.SlideSearch .category ul a li:hover, .SlideSearch .category ul a li:focus {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.SlideSearch .category ul a li svg, .SlideSearch .category ul .register .register-content .register-footer a li svg, .register .register-content .register-footer .SlideSearch .category ul a li svg {
  font-size: 35px;
}

.SlideSearch .brand h3 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.SlideSearch .brand li {
  margin: 5px 0px;
}

.SlideSearch .brand li input {
  margin-right: 5px;
}

.SlideSearch .brand a, .SlideSearch .brand .register .register-content .register-footer a, .register .register-content .register-footer .SlideSearch .brand a {
  text-decoration: none;
}

.SlideSearch .brand a li, .SlideSearch .brand .register .register-content .register-footer a li, .register .register-content .register-footer .SlideSearch .brand a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 5px;
}

.SlideSearch .brand a li:hover, .SlideSearch .brand a li:focus {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.SlideSearch .brand a li svg, .SlideSearch .brand .register .register-content .register-footer a li svg, .register .register-content .register-footer .SlideSearch .brand a li svg {
  font-size: 35px;
}

.SlideSearch .price h3, .SlideSearch .user-order-body .row .content .disc .quantaty h3, .user-order-body .row .content .disc .SlideSearch .quantaty h3 {
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.SlideSearch .price ul li, .SlideSearch .user-order-body .row .content .disc .quantaty ul li, .user-order-body .row .content .disc .SlideSearch .quantaty ul li {
  margin: 5px 0px;
}

.SlideSearch .price ul li label, .SlideSearch .user-order-body .row .content .disc .quantaty ul li label, .user-order-body .row .content .disc .SlideSearch .quantaty ul li label {
  width: 50px;
}

.SlideSearch .price ul li input, .SlideSearch .user-order-body .row .content .disc .quantaty ul li input, .user-order-body .row .content .disc .SlideSearch .quantaty ul li input {
  margin-left: 10px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid #223040;
  padding: 2px !important;
}

.SlideSearch .price ul li input:focus, .SlideSearch .user-order-body .row .content .disc .quantaty ul li input:focus, .user-order-body .row .content .disc .SlideSearch .quantaty ul li input:focus {
  border: 1px solid #ffda05 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 991px) {
  .SlideSearch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 350px) {
  .SlideSearch ul li label {
    font-size: 13px !important;
  }
}

.subNavbarBg {
  background-color: #fff;
  border-bottom: 1px solid #0072bc;
}

.subNavbarBg ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.subNavbarBg ul li {
  font-size: 13px;
  padding-left: 15px;
}

.ProductsSearchSubTitle .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle {
  width: 160px;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle:hover, .ProductsSearchSubTitle .content .dropdown .dropdown-toggle:focus {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle .sort svg {
  font-size: 35px;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle .sort p {
  margin: 0 !important;
  margin-top: 12px;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-toggle:after {
  display: none !important;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-menu {
  overflow: hidden;
  width: 160px;
  margin: 0;
  padding: 0;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-menu .dropdown-item {
  padding: 0px !important;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #ffda05 !important;
  color: #223040;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-menu .dropdown-item p {
  margin: 0 !important;
  padding: 10px;
}

.ProductsSearchSubTitle .content .dropdown .dropdown-menu .dropdown-item hr {
  margin: 0;
  color: #ffda05;
}

@media screen and (max-width: 575px) {
  .ProductsSearchSubTitle .row {
    text-align: center !important;
  }
  .ProductsSearchSubTitle .row .dropdown {
    text-align: center !important;
    margin-top: 10px;
  }
}

.item-details .carousel {
  border: 1px solid #ffda05;
  border-radius: 5px;
  overflow: hidden;
  min-height: 400px;
  max-height: 400px;
}

.item-details .carousel .carousel-indicators {
  display: none;
}

.item-details .carousel .carousel-inner .carousel-item .slider-img img {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.item-details .carousel .carousel-inner .carousel-item .slider-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.item-details .carousel .carousel-control-prev {
  opacity: 1;
  width: 8%;
  left: 10px;
}

.item-details .carousel .carousel-control-prev-icon {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 20px;
  border-radius: 50%;
  background-size: 70% 70%;
}

.item-details .carousel .carousel-control-prev-icon:hover {
  background-color: #ffda05 !important;
}

.item-details .carousel .carousel-control-next {
  opacity: 1;
  width: 8%;
  right: 10px;
}

.item-details .carousel .carousel-control-next-icon {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 20px;
  border-radius: 50%;
  background-size: 70% 70%;
}

.item-details .carousel .carousel-control-next-icon:hover {
  background-color: #ffda05 !important;
}

.item-details .item-content {
  margin-left: 10px;
}

.item-details .item-content div {
  margin-bottom: 20px;
}

.item-details .item-content div h2 {
  font-size: 1.1rem;
  margin: 0px;
}

.item-details .item-content div p {
  margin: 0;
}

.item-details .item-content div ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0px;
}

.item-details .item-content div ul li {
  padding: 15px;
  border-radius: 50%;
  margin-right: 7px;
}

.item-details .item-content .price .price-container, .item-details .item-content .user-order-body .row .content .disc .quantaty .price-container, .user-order-body .row .content .disc .item-details .item-content .quantaty .price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-details .item-content .price .price-container .price-offer, .item-details .item-content .user-order-body .row .content .disc .quantaty .price-container .price-offer, .user-order-body .row .content .disc .item-details .item-content .quantaty .price-container .price-offer {
  position: relative;
}

.item-details .item-content .price .price-container .price-offer span, .item-details .item-content .user-order-body .row .content .disc .quantaty .price-container .price-offer span, .user-order-body .row .content .disc .item-details .item-content .quantaty .price-container .price-offer span {
  background-color: red;
  width: 120%;
  height: 2px;
  position: absolute;
  top: 35%;
  right: -5px;
  display: block;
  -webkit-transform: skew(210deg, 351deg);
          transform: skew(210deg, 351deg);
}

.item-details .item-content .add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-details .item-content .add-btn button {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 10px;
  margin-right: 10px;
  width: 25%;
}

.item-details .item-content .add-btn button:hover, .item-details .item-content .add-btn button:focus {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.rate-comments {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.rate-comments .rate-container {
  margin-bottom: 15px;
}

.rate-comments .rate-container h2 {
  font-size: 1.7rem;
}

.rate-comments .comments {
  margin-left: 15px;
}

.rate-comments .comments .add-comment {
  text-align: right;
}

.rate-comments .comments .add-comment .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.rate-comments .comments .add-comment .user h3 {
  margin-top: 6px;
  margin-right: 10px;
  font-size: 1.1rem;
}

.rate-comments .comments .add-comment textarea:focus {
  border: 1px solid #ffda05;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rate-comments .comments .add-comment button {
  margin: 15px 0px;
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.rate-comments .comments .add-comment button:hover, .rate-comments .comments .add-comment button:focus {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.cart-item {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.cart-item .cart-right .img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

.cart-item .cart-right .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cart-item .cart-right .cart-content div {
  margin-bottom: 15px;
}

.cart-item .cart-right .cart-content div h6 {
  margin: 0px;
}

.cart-item .cart-right .cart-content div h6 span {
  font-weight: 400;
}

.cart-item .cart-right .cart-content div .color {
  padding: 4px 13px;
  border-radius: 50%;
}

.cart-item .cart-right .cart-content .quantaty h6 {
  padding-top: 5px;
  margin-left: 5px;
}

.cart-item .cart-right .cart-content .quantaty input {
  border: 1px solid #0072bc;
  width: 50px;
  padding-right: 13px;
  border-radius: 5px;
  background-color: #fff;
}

.cart-item .cart-right .cart-content .quantaty .btn {
  border: 1px solid #0072bc;
  background-color: #fff;
  color: #0072bc;
  margin-right: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.cart-item .cart-right .cart-content .quantaty .btn:hover {
  color: #fff;
  background-color: #0072bc;
}

.cart-item .cart-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-item .cart-left div svg {
  font-size: 20px;
}

.cart-item .cart-left div span, .cart-item .cart-left div .register .register-content .register-footer a span, .register .register-content .register-footer a .cart-item .cart-left div span {
  padding-right: 5px;
}

.Coupon {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

.Coupon input:focus {
  border: 1px solid #0072bc;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Coupon .btn {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #0072bc;
  background-color: #fff;
  color: #0072bc;
  margin-top: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.Coupon .btn:hover {
  color: #fff;
  background-color: #0072bc;
}

.Coupon .btn-delete {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: red;
  color: #fff !important;
  margin-top: 10px;
}

.Coupon .price, .Coupon .user-order-body .row .content .disc .quantaty, .user-order-body .row .content .disc .Coupon .quantaty {
  margin: 15px 0px;
  font-weight: bold;
}

.Coupon .price span, .Coupon .user-order-body .row .content .disc .quantaty span, .user-order-body .row .content .disc .Coupon .quantaty span, .Coupon .price .register .register-content .register-footer a span, .register .register-content .register-footer a .Coupon .price span {
  position: relative;
}

.Coupon .price span:after, .Coupon .user-order-body .row .content .disc .quantaty span:after, .user-order-body .row .content .disc .Coupon .quantaty span:after, .Coupon .price .register .register-content .register-footer a span:after, .register .register-content .register-footer a .Coupon .price span:after {
  content: "";
  position: absolute;
  width: 122%;
  height: 3px;
  background-color: red;
  top: 10px;
  right: -6px;
}

.price-comp {
  margin: 15px 0px;
  font-size: 20px;
  font-weight: bold;
}

.payment .payment-methods {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.payment .payment-methods div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.payment .payment-methods div p {
  margin: 0;
  margin-right: 5px;
}

.payment .payment-methods ul {
  list-style: none;
  padding: 0 !important;
  margin-top: 25px;
  width: 15%;
  text-align: center;
  overflow: hidden;
}

.payment .payment-methods ul:hover li {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.payment .payment-methods ul P {
  border: 1px solid #0072bc;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

.payment .payment-methods ul li {
  -webkit-transform: translatey(300%);
          transform: translatey(300%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  border: 1px solid #0072bc;
  padding: 5px 0px;
  text-align: center;
  margin: auto;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
}

.payment .payment-methods ul li:hover {
  background-color: #0072bc;
  color: #fff;
}

.payment .payment-method-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment .payment-method-footer button, .payment .payment-method-footer .register .register-content .form button, .register .register-content .form .payment .payment-method-footer button {
  margin-right: 10px;
  border: 1px solid #0072bc;
  background-color: #fff;
  color: #0072bc;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.payment .payment-method-footer button:hover {
  color: #fff;
  background-color: #0072bc;
}

.admin-sidebar {
  background-color: #fff;
  border-radius: 5px;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar ul li {
  border-bottom: 1px solid #0072bc;
  border-radius: 5px;
  padding: 15px 7px;
  width: 100% !important;
  color: #0072bc;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.admin-sidebar ul li:hover, .admin-sidebar ul li:focus {
  color: #fff;
  background-color: #0072bc;
}

.admin-product-card {
  -webkit-box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 114, 188, 0.24) 0px 3px 8px;
  border: 1px solid #0072bc !important;
  height: 440px !important;
  overflow: hidden;
}

.admin-product-card img {
  height: 270px;
  padding: 20px 10px;
}

.admin-product-card .card-body {
  padding-bottom: 0px;
}

.admin-product-card .card-body .fav-icon {
  text-align: left;
  color: #c1c1c1;
}

.admin-product-card .card-body .card-footer {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #0072bc;
}

.admin-product-card .card-body .card-footer .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  color: #ffca28;
}

.admin-product-card .card-body .card-footer .rate svg {
  font-size: 20px;
}

.admin-product-card .card-body .card-footer .rate p {
  font-size: 17px;
  margin-right: 5px;
  font-weight: 600;
}

.admin-product-card .card-body .card-footer .price p, .admin-product-card .card-body .card-footer .user-order-body .row .content .disc .quantaty p, .user-order-body .row .content .disc .admin-product-card .card-body .card-footer .quantaty p {
  margin: 0px !important;
  font-size: 18px;
  font-weight: bold;
}

.admin-product-card .card-body .card-footer .price .price-before-discount, .admin-product-card .card-body .card-footer .user-order-body .row .content .disc .quantaty .price-before-discount, .user-order-body .row .content .disc .admin-product-card .card-body .card-footer .quantaty .price-before-discount {
  position: relative;
}

.admin-product-card .card-body .card-footer .price .price-before-discount span, .admin-product-card .card-body .card-footer .user-order-body .row .content .disc .quantaty .price-before-discount span, .user-order-body .row .content .disc .admin-product-card .card-body .card-footer .quantaty .price-before-discount span {
  background-color: red;
  width: 120%;
  height: 2px;
  position: absolute;
  top: 50%;
  right: -7px;
  display: block;
  -webkit-transform: skew(210deg, 351deg);
          transform: skew(210deg, 351deg);
}

@media screen and (max-width: 500px) {
  .card-footer h5 {
    font-size: .9rem !important;
  }
}

.add-brand .inputs .img {
  width: 150px;
  height: 150px;
  position: relative;
}

.add-brand .inputs .img img {
  width: 140px;
  height: 125px;
  border-radius: 5px;
  cursor: pointer;
}

.add-brand .inputs .img input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.add-brand .inputs .name {
  margin-top: 15px;
}

.add-brand .inputs .name button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: background-color .4s,color .4s;
  transition: background-color .4s,color .4s;
  padding: 10px 30px;
  margin-top: 10px;
}

.add-brand .inputs .name button:hover {
  background-color: #0072bc;
  color: #fff;
}

.add-category .inputs .img {
  width: 150px;
  height: 150px;
}

.add-category .inputs .img img {
  width: 140px !important;
  height: 125px !important;
  border-radius: 5px;
  cursor: pointer;
}

.add-category .inputs .img input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.add-category .inputs .name {
  margin-top: 15px;
}

.add-category .inputs .name button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: background-color .4s,color .4s;
  transition: background-color .4s,color .4s;
  padding: 10px 30px;
  margin-top: 10px;
}

.add-category .inputs .name button:hover {
  background-color: #0072bc;
  color: #fff;
}

.add-sub-category .inputs {
  text-align: end;
}

.add-sub-category .inputs button, .add-sub-category .inputs .register .register-content .form button, .register .register-content .form .add-sub-category .inputs button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: background-color .4s,color .4s;
  transition: background-color .4s,color .4s;
  padding: 10px 30px;
  margin-top: 10px;
}

.add-sub-category .inputs button:hover {
  background-color: #0072bc;
  color: #fff;
}

.add-coupon .inputs {
  text-align: end;
}

.add-coupon .inputs button, .add-coupon .inputs .register .register-content .form button, .register .register-content .form .add-coupon .inputs button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: background-color .4s,color .4s;
  transition: background-color .4s,color .4s;
  padding: 10px 30px;
  margin-top: 10px;
}

.add-coupon .inputs button:hover {
  background-color: #0072bc;
  color: #fff;
}

.add-product .inputs .multiselect-container .search-wrapper {
  border: none !important;
}

.add-product .inputs button, .add-product .inputs .register .register-content .form button, .register .register-content .form .add-product .inputs button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: background-color .4s,color .4s;
  transition: background-color .4s,color .4s;
  padding: 10px 30px;
  margin-top: 10px;
}

.add-product .inputs button:hover {
  background-color: #0072bc;
  color: #fff;
}

.add-product .inputs .colors-container .colors-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.add-product .inputs .colors-container .colors-inputs .color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.add-product .inputs .colors-container .colors-inputs .color-Picker {
  position: absolute;
  background-color: #fff;
}

.user-sidebar {
  background-color: #fff;
  border-radius: 5px;
}

.user-sidebar ul {
  list-style: none;
  padding: 0;
}

.user-sidebar ul li {
  border-bottom: 1px solid #0072bc;
  border-radius: 5px;
  padding: 15px 7px;
  width: 100% !important;
  color: #0072bc;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.user-sidebar ul li:hover, .user-sidebar ul li:focus {
  color: #fff;
  background-color: #0072bc;
}

.user-orders-comp {
  background-color: #fff;
  padding: 15px 10px;
  border: 1px solid #0072bc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-orders-comp .user-order-head h4 {
  font-size: 18px;
  font-weight: 400;
}

.user-orders-comp .user-order-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

.user-orders-comp .user-order-footer .status h4 {
  font-size: 18px;
  font-weight: 400;
}

.user-orders-comp .user-order-footer .status h4 span {
  color: gray;
}

.user-orders-comp .user-order-footer .price h4, .user-orders-comp .user-order-footer .user-order-body .row .content .disc .quantaty h4, .user-order-body .row .content .disc .user-orders-comp .user-order-footer .quantaty h4 {
  font-size: 18px;
  font-weight: 400;
}

.user-address {
  background-color: #fff;
  padding: 10px 10px;
  border: 1px solid #0072bc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-address .address-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-address .address-head h4 {
  font-size: 18px;
  font-weight: 500;
}

.user-address .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
}

.user-address .address h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-address .address p {
  margin-right: 5px;
}

.user-address .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-right: 5px;
}

.user-address .phone h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-address .phone p {
  margin-right: 5px;
}

.user-profile-details {
  background-color: #fff;
  padding: 10px 10px;
  border: 1px solid #0072bc;
  border-radius: 5px;
  margin-bottom: 15px;
}

.user-profile-details .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile-details .name h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-profile-details .name p {
  margin-right: 5px;
}

.user-profile-details .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile-details .phone h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-profile-details .phone p {
  margin-right: 5px;
}

.user-profile-details .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-profile-details .email h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-profile-details .email p {
  margin-right: 5px;
}

.user-profile-details button, .user-profile-details .register .register-content .form button, .register .register-content .form .user-profile-details button {
  border: 1px solid #0072bc;
  color: #0072bc;
  background-color: #fff;
  margin-left: 10px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.user-profile-details button:hover, .user-profile-details .register .register-content .form button:hover, .register .register-content .form .user-profile-details button:hover {
  background-color: #0072bc;
  color: #fff;
}

.user-eddit-profile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-eddit-profile .user-eddit-content {
  width: 50% !important;
  background-color: #9d9d9d;
  padding: 10px 20px;
  border-radius: 5px;
}

.user-order-body {
  padding: 10px 0px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.user-order-body .row {
  margin-bottom: 15px;
}

.user-order-body .row .img-container img {
  width: 100%;
  border-radius: 5px;
}

.user-order-body .row .content {
  padding-right: 10px;
}

.user-order-body .row .content .disc h5 {
  font-size: 16px;
  font-weight: 400;
}

.user-order-body .row .content .disc .color {
  padding: 18px;
  border-radius: 50%;
  width: 20px;
}

.user-order-body .row .content .disc .price, .user-order-body .row .content .disc .quantaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-order-body .row .content .disc .price h5, .user-order-body .row .content .disc .quantaty h5 {
  font-size: 18px;
  font-weight: bold;
}

.user-order-body .row .content .disc .price div, .user-order-body .row .content .disc .quantaty div {
  margin-right: 5px;
}

.spinner-container {
  background-color: #ddd;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000c9;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
}

.modal-container .modal-box {
  background-color: #fff;
  width: 25%;
  padding: 15px 10px;
  border: 1px solid #0072bc;
  border-radius: 5px;
}

.modal-container .modal-box p {
  margin: 17px 6px;
}

.modal-container .modal-box .btns {
  text-align: end;
}

.modal-container .modal-box .btns .btn {
  width: 40%;
  padding: 10px 15px !important;
  color: #fff;
}

.modal-container .modal-box .btns .back-btn {
  background-color: #0072bc;
  border: none;
}

.modal-container .modal-box .btns .delete-btn {
  background-color: red;
  border: none;
}

.eddit-product .inputs .multiselect-container .search-wrapper {
  border: none !important;
}

.eddit-product .inputs button, .eddit-product .inputs .register .register-content .form button, .register .register-content .form .eddit-product .inputs button {
  background-color: #fff;
  color: #0072bc;
  border: 1px solid #0072bc;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 10px;
  margin-top: 10px;
}

.eddit-product .inputs button:hover {
  background-color: #0072bc;
  color: #fff;
}

.eddit-product .inputs .colors-container .colors-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.eddit-product .inputs .colors-container .colors-inputs .color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.eddit-product .inputs .colors-container .colors-inputs .color-Picker {
  position: absolute;
  background-color: #fff;
}

.login, .register {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login .login-content, .register .login-content, .register .register-content {
  width: 60%;
  text-align: center;
}

.login .login-content .form input:focus, .register .login-content .form input:focus, .register .register-content .form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ffda05;
}

.login .login-content .form button, .register .login-content .form button, .register .register-content .form button {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 50%;
}

.login .login-content .form button:hover, .register .login-content .form button:hover, .register .register-content .form button:hover {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.login .login-content .login-footer, .register .login-content .login-footer, .register .register-content .login-footer, .register .register-content .register-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .login-content .login-footer a, .register .login-content .login-footer a, .register .register-content .login-footer a, .register .register-content .register-footer a {
  text-decoration: none !important;
  margin-left: 5px;
}

.login .login-content .login-footer a span, .register .login-content .login-footer a span, .register .register-content .login-footer a span, .register .register-content .register-footer a span {
  color: #ffda05;
}

@media screen and (max-width: 460px) {
  .login .login-content, .register .login-content, .register .register-content {
    padding: 0;
  }
  .login .login-content h3, .register .login-content h3, .register .register-content h3 {
    font-size: 17px;
  }
  .login .login-content .form button, .register .login-content .form button, .register .register-content .form button {
    width: 80%;
  }
  .login .login-content .login-footer, .register .login-content .login-footer, .register .register-content .login-footer, .register .register-content .register-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 430px) {
  .login .login-content, .register .login-content, .register .register-content {
    padding: 0;
  }
  .login .login-content h3, .register .login-content h3, .register .register-content h3 {
    font-size: 17px;
  }
  .login .login-content .form button, .register .login-content .form button, .register .register-content .form button {
    width: 80%;
  }
  .login .login-content .login-footer, .register .login-content .login-footer, .register .register-content .login-footer, .register .register-content .register-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.forgot-password {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.forgot-password .forgot-password-content {
  width: 60%;
  text-align: center;
}

.forgot-password .forgot-password-content .form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ffda05;
}

.forgot-password .forgot-password-content .form button {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 50%;
}

.forgot-password .forgot-password-content .form button:hover {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

.forgot-password .forgot-password-content .form .forgot-password-footer span {
  color: #ffda05 !important;
}

@media screen and (max-width: 460px) {
  .forgot-password .login-content, .forgot-password .register .register-content, .register .forgot-password .register-content {
    padding: 0;
  }
  .forgot-password .login-content h3, .forgot-password .register .register-content h3, .register .forgot-password .register-content h3 {
    font-size: 17px;
  }
  .forgot-password .login-content .form button, .forgot-password .register .register-content .form button, .register .forgot-password .register-content .form button {
    width: 80%;
  }
}

.verify {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.verify .verify-content {
  width: 60%;
  text-align: center;
}

.verify .verify-content h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.verify .verify-content a, .verify .verify-content .register .register-content .register-footer a, .register .register-content .register-footer .verify .verify-content a {
  color: #ffda05 !important;
}

.verify .verify-content .form input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #ffda05;
}

.verify .verify-content .form button {
  background-color: #223040;
  color: #fff;
  border-color: #223040;
  -webkit-transition: all .4s;
  transition: all .4s;
  width: 50%;
}

.verify .verify-content .form button:hover {
  background-color: #ffda05 !important;
  color: #223040;
  border-color: #ffda05;
}

@media screen and (max-width: 460px) {
  .verify .verify-content {
    padding: 0;
  }
  .verify .verify-content h2 {
    font-size: 17px;
  }
  .verify .verify-content .form button {
    width: 80%;
  }
}

.notfound {
  height: 100vh;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.copoun-card {
  background-color: #fff;
  padding: 10px;
  padding-bottom: 0px;
  margin-top: 20px;
  border-radius: 4px;
}

.copoun-card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.delete-icon {
  font-size: 25px !important;
  margin-right: 5px !important;
  color: red !important;
  cursor: pointer !important;
}

.update-Coupone-modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000000c9;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.update-Coupone-modal .modal-box {
  background-color: #fff;
  width: 40%;
  padding: 15px 10px;
  border: 1px solid #0072bc;
  border-radius: 5px;
}

.update-Coupone-modal .modal-box .btns {
  text-align: end;
}

.no-product {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
}

body {
  position: relative !important;
  font-family: 'Roboto', sans-serif;
  background-color: #dddddd5e !important;
}

.pageStyle {
  min-height: 670px !important;
}

.btn-style {
  border: 1px solid #0072bc !important;
  color: #0072bc !important;
  background-color: #fff !important;
  -webkit-transition: all .4s !important;
  transition: all .4s !important;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: auto !important;
}

.btn-style:hover {
  background-color: #0072bc !important;
  color: #fff !important;
}

.input-style:focus {
  border: 1px solid #0072bc !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  color: #ffca28;
}

.rate svg {
  font-size: 20px;
}

.rate p {
  font-size: 17px;
  margin-left: 5px;
  font-weight: 600;
}

.eddit-icon {
  font-size: 25px !important;
  margin-left: 5px !important;
  color: #0072bc !important;
  cursor: pointer !important;
}
/*# sourceMappingURL=index.css.map */