.add-sub-category{
    .inputs{
        text-align:end;
        button{
            background-color: $MainColor;
            color:$ThirdColor;
            border:1px solid $ThirdColor;
            transition: background-color .4s,color .4s;
            padding:10px 30px;
            margin-top:10px;
            &:hover{
                background-color: $ThirdColor;
                color:$MainColor;
            }
        }
    }
}