.subNavbarBg{
    background-color: $MainColor;
    border-bottom: 1px solid $ThirdColor;;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin:0;
        padding-right: 0;
        padding-left: 0;
        padding-top:10px;
        padding-bottom:10px;
        list-style: none;
        li{
            font-size: 13px;
            padding-left:15px
        }
    }
}