.add-brand{
    .inputs{
        h4{
            font-size: 1rem;
        }
        .img{
            width:150px;
            height:150px;
            position: relative;
            img{
                width:140px;
                height:125px;
                border-radius: 5px;
                cursor: pointer;
            }
            input{
                position:absolute;
                width:20px;
                height:20px;
                opacity: 0;
                z-index: -1;         
             }
            }
        .name{
            margin-top:30px;
        }
    }
    
}