.verify{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .verify-content{
        width:60%;
        text-align: center;
        h3{
            font-size: 1.5rem;
            font-weight: $FW-2;
        }
        a{
            span{
                color:$DarkColor;
                font-weight: $FW-3;
                transition: color .3s;
                &:hover{
                    color: $mainColor;
                }
            }
        }
        .form{
            input{
                &:focus{
                    box-shadow: none;
                    border:1px solid $mainColor
                }
            }
            button{
                background-color: $DarkColor;
                color:$WhiteColor;
                border-color: $DarkColor ;
                transition: all .4s;
                width:50%;
                &:hover{
                    background-color: $mainColor !important;
                    color:$DarkColor;
                    border-color: $mainColor ;
                }
            }
        }
    }
};
@media screen and (max-width:460px){
    .verify{
        .verify-content{
            padding: 0;
            h2{
                font-size: 17px
            }
            .form{
                button{
                    width:80%;
                }
            }
        }
    };
}