.verify{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .verify-content{
        width:60%;
        text-align: center;
        h3{
            font-size: 23px;
        }
        .form{
            input{
                &:focus{
                    box-shadow: none;
                    border:1px solid $ThirdColor
                }
            }
            button{
                background-color: $ThirdColor;
                color:$MainColor;
                width:50%;
            }
        }
    }
};
@media screen and (max-width:460px){
    .verify{
        .verify-content{
            padding: 0;
            h3{
                font-size: 17px
            }
            .form{
                button{
                    width:80%;
                }
            }
        }
    };
}