.pagination{
    position: absolute;;
    bottom:60px;
    left: 50%;
    right: 50%;
    padding: 20px 0px !important;
    margin:0px !important;
    .page-item{
        .page-link{
            color:$DarkColor;
            border-radius: 5px !important;
            &:focus{
                box-shadow: none
            }
            &:hover{
                background-color:$DarkColor;
                color:$WhiteColor;
                border:1px solid $DarkColor !important;
            }
        }
        .prev-link{
            background-color:$DarkColor;
            color:$WhiteColor;
            border-radius: 5px !important;
            border:1px solid $DarkColor !important;
            cursor: pointer;
            &:hover{
                background-color:$mainColor;
                color:$DarkColor;
                border:1px solid $mainColor !important;
            }
        }
        .next-link{
            @extend .prev-link;
        }
    }
    .active-link{ 
        .page-link{
            background-color:$DarkColor;
            color:$WhiteColor;
            border-radius: 5px !important;
            border:1px solid $DarkColor !important;
            &:hover{
                background-color:$mainColor;
                color:$DarkColor;
                border:1px solid $mainColor !important;
            }
        }
    }
};
@media screen and (max-width:575px){
    .pagination{
        bottom: 90px;
    }
}