.update-Coupone-modal{
    position:fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    background-color:#000000c9;
    z-index:999999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-box{
        background-color: $WhiteColor;
        width:400px;
        padding:15px 10px;
        border:1px solid $DarkColor;
        border-radius: 5px;
        .btns{
            text-align: end;
            .btn{
                padding:10px 15px !important;
            }
            .back-btn{
                border:1px solid $mainColor !important;
                color:$DarkColor !important;
                background-color: $mainColor !important;
                transition: all .4s !important;
                width:fit-content !important;
                margin-right: 10px !important;
                border-radius: 5px;
                padding:7px 15px;
                &:hover{
                    background-color: $DarkColor !important;
                    color:$WhiteColor !important;
                    border-color: $DarkColor !important;
                }
            }
        }
    }
};
// Media-Query
@media screen and (max-width:575px){
    .update-Coupone-modal{
        .modal-box{
            width:300px;
        }
    }
};