.discount{
    padding:20px 0px 50px 0px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .caption{
        padding-left:50px;
        h2{
            width:30%;
            background-color: $mainColor;
            font-size: 1rem;
            padding:10px;
        }
        h3{
            width:30%;
            color:$WhiteColor;
        }
    }
};
@media screen and (max-width:518px){
    .discount{
        .caption{
            h2{
                width:140px;
            }
            h3{
                width:140px;
            }
        }
    };
}