.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .slider-item{
        height:80vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        .slider-caption{
            position: absolute;
            top:0;
            left:50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .content{
                background-color: #ffda0573;
                padding: 50px 0px 50px 50px;
                border-radius: 15px;
                font-weight: 300;
                text-align: start;
                h2{
                    font-size:1.9rem
                }
                h3{
                    font-size:2.3rem
                } 
            }   
        }
    }
    .carousel-control-prev{
        opacity:1;
        width:8%;
        left:-140px;
        transition:left .6s
    }
    .carousel-control-prev-icon{
        background-color: $mainColor;
        padding: 20px;
        border-radius: 50%;
        background-size: 70% 70%;
    }
    .carousel-control-next{
        opacity:1;
        width:8%;
        right:-140px;
        transition:right .6s
    }
    .carousel-control-next-icon{
        background-color: $mainColor;
        padding: 20px;
        border-radius: 50%;
        background-size: 70% 70%;
    }
    &:hover{
        .carousel-control-prev{
            left:0px
        }
        .carousel-control-next{
            right:0px
        }
    }
    .carousel-indicators{
        button{
            width:15px;
            height:15px;
            border-radius: 50%;
            border:0;
            background-color: $mainColor;
            opacity:.3
        }
        .active{
            background-color: $mainColor;
            border:0;
            opacity: 1
        }
    }
};     
// media Query
@media screen and (max-width:900px){
    .slider{
        .slider-item{
            .slider-caption{
                .content{
                    padding: 50px 0px 50px 30px;
                    h2{
                        font-size:1.2rem
                    }
                    h3{
                        font-size:1.9rem
                    } 
                }   
            }
        }
    }
}
@media screen and (max-width:640px){
    .slider{
        .slider-item{
            .slider-caption{
                left: 35%;
                width: 50%;
                .content{
                    padding: 20px;
                    h2{
                        font-size:1rem
                    }
                    h3{
                        font-size:1.5rem
                    } 
                }   
            }
        }
    }
    .carousel-control-prev{
        width:14% !important;
    }
    .carousel-control-next{
        width:14% !important;
    }
};
@media screen and (max-width:460px){
    .slider{
        .slider-item{
            .slider-caption{
                .content{
                    padding:50px 10px;
                    h2{
                        font-size:.8rem
                    }
                    h3{
                        font-size:1.3rem
                    } 
                }   
            }
        }
    }
};