.slider{
    height:80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(21,8,37);
    background: linear-gradient(90deg, rgba(21,8,37,0.8491771708683473) 0%, rgba(38,11,102,0.9220063025210083) 50%, rgba(21,8,37,0.85) 100%);
    .slider-item{
         .caption-container{
                display: flex;
                justify-content: center;
                align-items: center;
                .img-container{
                    width:35%;
                    margin-left:20px;
                img{
                    width:100%;
                }
            }
            .slider-caption{
                position:static;
            }
        }
    }
}
// media Query
@media screen and (max-width:860px){
    .slider-item{
        .caption-container{
            flex-direction: column;
               .img-container{
                width:70% !important;
           }
       }
   }
}

